html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: #05191e;
    font-family: 'Russo One', sans-serif;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

#right {
    margin: 0;
    padding: 0;
    width: 50%;
    height: 100%;
    border-right: 5px solid black;
}

iframe {
    margin: 0;
    padding: 0;
    position: relative;
    right: -20%;
}

#left {
    margin: 0;
    padding: 0 0 0 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
    transform: perspective(1000px);
}

#left > p {
    margin: 5% 0 5% 0;
    padding: 0 0 0 15%;
    font-size: 4rem;
    transform: translateZ(50px);
    -webkit-text-stroke: 1px #f6bf7c;
    color: transparent;
    text-shadow: 7px 0px 50px rgba(246,191,124,0.2);
    letter-spacing: 3px;
}