html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #f2ebd9;
    color: #000000;
}

#text--container {
    margin: 0;
    padding: 0;
    width: 90%;
    height: 90%;
    position: absolute;
    top: 5%;
    left: 5%;
}

#text1 {
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    position: absolute;
    top: 0;
    z-index: 2; 
}

#text2 {
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    position: absolute;
    top: 10%;
    z-index: 2; 
    left: 5%;
}

#text3 {
    font-family: 'Shrikhand', cursive;
    font-size: 5rem;
    position: absolute;
    top: 40%;
    right: 10%;
    z-index: 2; 
}

#text4 {
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    position: absolute;
    bottom: 10%;
    right: 5%; 
    z-index: 2; 
}

#design--container {
    position: absolute;
    margin-left: 35vw;
    margin-right: 35vw;
    padding: 0;
    width: 30vw;
    height: 60vh;
    border: 1px solid black;
    bottom: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background: url("images/Untitled@1-1920x947.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#circle1 {
    margin: 0;
    padding: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #72ED68;
    position: absolute;
    bottom: 1%;
    left: 5%;
    z-index: 10;
}

#circle2 {
    margin: 0;
    padding: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #CF1FF3;
    position: absolute;
    bottom: 1%;
    left: 8%;
    z-index: 10;
}

#circle3 {
    margin: 0;
    padding: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #FEE059;
    position: absolute;
    top: 10%;
    right: 5%;
    z-index: 10;
}

#circle4 {
    margin: 0;
    padding: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #12DDD3;
    position: absolute;
    top: 10%;
    right: 8%;
    z-index: 10;
}



